@import './base.css';

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0;
  font-weight: normal;
}

a,
.textLogo {
  text-decoration: none;
  color: rgb(209, 123, 171);
  transition: 0.4s;
  padding: 0;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(0, 0%, 62%, 0.2);
  }
}

.mainPages {
  background-color: white;
  background-image: url('../assets/main_bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom right;
  background-attachment: fixed;
  min-height: 100vh;
  width: 100%;
  right: 0;
  text-align: left;
}
